@page "/"

<PageTitle>Home</PageTitle>

@code {
	
}

<h1>RaSound</h1>

<div class="SoundSet">
	<p>|| Time: |</p>
	<p>| Times played: |</p>
	<p>| Percent: |</p>
	<p>| Interval: |</p>
	<p>| Path: ||</p>
	<button>| Pause/Play |</button>
	<button>| X |</button>
</div>
