@page "/"
@implements IDisposable
@using Project4.Core
@inject ClipHandle _handler;
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>RaSound</h1>


@foreach (string name in _handler.clips.Keys.ToList())
{
	SoundClip soundClip = _handler.soundClips[name];
	<p>@soundClip.ToString()</p>
	<button @onclick="() => StopClip(name)">Stop</button>
}


@code {
	private PeriodicTimer? timer;
	private CancellationTokenSource cts = new();

	protected override async Task OnInitializedAsync()
	{
		timer = new PeriodicTimer(TimeSpan.FromSeconds(1));

		_ = Task.Run(async () =>
		{
			try
			{
				while (await timer.WaitForNextTickAsync(cts.Token))
				{
					await InvokeAsync(StateHasChanged);
				}
			}
			catch (OperationCanceledException) { }
		});
	}

	public void Dispose()
	{
		cts.Cancel();
		timer?.Dispose();
	}

	public void StopClip(string clipName)
	{
		_handler.StopClip(clipName);
	}
}